<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title NO NO TEST
    body.noselect
        .head.noselect
        .img
        .text
            p Tamer Nabil
            p GEN MAN
        .body.noselect
            .left
                section
                    .title OBJECTIVE
                    p
                        ul.quote
                            li Insightful
                            li High level leadership
                                | some issightfull features
                                | sort of
            .right
                section
                    .title SOSO
                    p
                        |the best ever html visualisation I encountered
